<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minha agenda telefonica</title>
  <link href="../Style/style.css" rel="stylesheet">
  <script src="../Script/script.js" defer></script>
</head>
<body>
    <div class="pai">
        <div class="esquerda">
            <form  autocomplete="off">
                <div>
                    <label>ID</label>
                    <input type="text" name="ID" id="id">
                </div>
                <div>
                    <label>NOME</label>
                    <input type="text" name="NOME" id="nome">
                </div>
                <div>
                    <label>TELEFONE</label>
                    <input type="text" name="TELEFONE" id="tel">
                </div>
                <div  class="form-action-buttons">
                    <input type="submit" value="Submit" onclick="event.preventDefault();onFormSubmit(this);">
                </div>
                <div  class="form-action-buttons">
                    <input type="submit" value="Buscar" onclick="event.preventDefault();onFormSubmit(this);">
                </div>
            </form>
        </div>
        <div class="direita">
            <table class="list" id="employeeList">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOME</th>
                        <th>TELEFONE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>