div.pai { 
    width: 100%; 
} 

div.direita { 
    float: left; 
    width: 80%; 
} 

div.esquerda { 
    float: left; 
    width: 20%; 
} 

body {
    background-color: darkslategray;
}
  
div.inline{
    display: inline;
}

th{
    color: ivory;
}

div.calculadora {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 40%;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(80px, auto) repeat(8, 80px);
}
  
label{
    color: ivory;
}

button {
    cursor: pointer;
    border: 3px transparent blue;
    outline: none;
    background-color: rgba(255, red, blue, .75);
  }
  
text.ocupa-quatro {
    grid-column: span 4;
    background: gray;
    font-size: 4rem;
    text-align: right;
  }